<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-9">
            <h3 class="title">Álbum {{album.nombre}}</h3>
          </div>
          <div class="col-md-2">
            <button class="btn btn-info btn-fill pull-right agrega-cancion"
            *ngIf="!agregaCancion" type="submit"
            (click)="muestrarFormCancion();">Agregar canción</button>
            <button class="btn btn-info btn-fill pull-right agrega-cancion"
            *ngIf="agregaCancion" type="submit"
            (click)="quitarFormCancion();">Ver canciones</button>
          </div>
          <div class="col-md-1"></div>
        </div>
      </div>
    </div>
    <div class="row content-cancion" *ngIf="agregaCancion">
      <div class="col-md-12">
        <div class="col-md-7">
          <div class="card">
            <div class="header">
              <div class="row">
                <h4 class="title">Nueva Canción</h4>
              </div>
              <div class="row">
                <div *ngIf="mensajeInfo">
                  <div class="col-md-11 ">
                    <div class="alert alert-info">
                      <button class="close" aria-hidden="true" type="button"
                      (click)="limpiaMensaje();">×</button>
                      <span><b>{{mensajeInfo}} </b></span>
                    </div>
                  </div>
                </div>
                <div *ngIf="error">
                  <div class="col-md-11">
                    <div class="alert alert-danger">
                      <button class="close" aria-hidden="true" type="button"
                      (click)="limpiaMensaje();">×</button>
                      <span><b>{{infoError.codigoError}} - </b> {{infoError.mensajeError}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="content">
              <form>
                <div class="row">
                  <div class="col-md-11">
                    <div class="form-group">
                      <label>Nombre</label> <label class="requerido">*</label>
                      <input type="text" class="form-control" maxlength="50"
                              [(ngModel)]="cancion.nombre" name="nombre" >
                    </div>
                  </div>
                </div>
                <button type="submit" class="btn btn-info btn-fill pull-right"
                (click)="agregarCancion(cancion)">Guardar</button>
                <div class="clearfix"></div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card col-md-11 content-cancion" *ngIf="!agregaCancion">
      <div class="content">
        <div class="row" *ngIf="mensajeExito">
          <div class="col-md-8 ">
            <div class="alert alert-success">
              <button class="close" aria-hidden="true" type="button"
              (click)="limpiaMensaje();">×</button>
              <span><b>{{mensajeExito}} </b></span>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="mensajeInfo">
          <div class="col-md-8 ">
            <div class="alert alert-info">
              <button class="close" aria-hidden="true" type="button"
              (click)="limpiaMensaje();">×</button>
              <span><b>{{mensajeInfo}} </b></span>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="error">
          <div class="col-md-8 ">
            <div class="alert alert-danger">
              <button class="close" aria-hidden="true" type="button"
              (click)="limpiaMensaje();">×</button>
              <span><b>{{infoError.codigoError}} - </b> {{infoError.mensajeError}}</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h4 class="title">Canciones</h4>
          </div>
        </div>
        <div class="row content-cancion">
          <div class="col-md-9" *ngIf="album.canciones == 0">
               <label>El álbum no contiene canciones registradas</label>
          </div>
          <div class="col-md-9"
                *ngFor="let cancion of album.canciones; let i = index" [attr.data-index]="i">
            <div class="row info_cancion {{i%2 === 0 ? ' info_par'  : ''}}">
              <div class="col-md-1 text-center">{{i + 1}}</div>
              <div class="col-md-9">{{cancion.nombre}}</div>
              <div class="col-md-2">
                <button href="#" class="btn btn-simple"   title="Eliminar"
                  (click)="eliminarCancion(cancion)">
                  <i class="fa fa-times i_cancion_del" aria-hidden="true"></i>
                </button>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
